# Database
DB_URI="mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<appName>"

# Server
PORT=3000

# WooCommerce API
WOOCOMMERCE_BASE_URL="https://<your-woocommerce-domain>"
WOOCOMMERCE_CONSUMER_KEY="<your-consumer-key>"
WOOCOMMERCE_CONSUMER_SECRET="<your-consumer-secret>"
